<div class="wrapper">

  <div class="container-fluid">
    <div class="row">

      <%= render "shared/sidebar_collection" %>

      <div class="col-sm-2" id="sidebar-games">
        <%= render "shared/sidebar_game", games: @games %>
      </div>

      <%= render "shared/chess_box", game: @game %>
    </div>
  </div>

</div>

