// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$coral: #EE5F54;
$blue: #1E5772;
$blue-medium: #3183A8;
$light-blue: #ABCAD4;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
