#sidebar-collection {
  position: relative;
  background-image: linear-gradient(to bottom right, #EDEDEE , white);
  transition: all 0.3s;
  padding: 0;
  height: 100vh;
  border-right: 1px solid LightGray
}

.sidebar-collection-header {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.sidebar-collection-header-item {
  margin-top: 35px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.sidebar-header {
  width: 100%;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid LightGray
}

.sidebar-games-title{
  color: #1E5772;
  font-size: 16px;
}

.pin-left-bottom {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 30px;
  cursor: pointer;
}


