#sidebar-games {
    height: 100vh;
    background: White;
    transition: all 0.3s;
    padding: 0;
    border-right: solid 1px LightGray;
    // overflow-y: scroll;
}

.list-of-games {
  height: calc(100vh - 86px);
  overflow-y: scroll;
}

// .reversed-button {
//   color: #1E5772 !important;
//   border: 1px solid #1E5772 !important;
//   background-color: white !important;
// }
