#sidebar-games {
    height: 100vh;
    background: White;
    transition: all 0.3s;
    padding: 0;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    overflow-y: scroll;
}

