<div class="chess-box col-sm-8" id="chessbox">

  <div class="board">
    <div id="chessgame-find"></div>
    <%= render "shared/chess_box_controls" %>
  </div>

  <div class="moves-text">

    <div class="game-notation-find">

      <div class="chess-headers">
      </div>

      <div class="moves-input" id="moves-create"></div>

    </div>

    <div class="create-button">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: "token" %>
      <button class= "btn btn-primary" id= "find-game-button"> Find games</button>
    </div>
  </div>

  <div id="search-results">
    Enter a position and click find games
</div>

</div>
