<div class="chess-box col-sm-8" id="chessbox">

  <div class="board">
    <div id="chessgame-input"></div>
    <%= render "shared/chess_box_controls" %>
  </div>

  <div class="game-notation">

    <div class="chess-headers">
    </div>

    <div class="moves-input">
    </div>

  </div>


</div>

