<div class="chess-box col-sm-8" id="chessbox">

  <div class="board">
    <div id="chessgame-input"></div>
    <%= render "shared/chess_box_controls" %>
  </div>

  <div class="moves-text">

    <div class="game-notation-input">

      <div class="chess-headers-new-game">
        <div class="white-player-input">
          <span> <strong>White player</strong> </span>
          <input type="text" name="white_player_first_name" id="white_player_first_name" placeholder="First Name">
          <input type="text" name="white_player_last_name" id="white_player_last_name" placeholder="Last Name">
        </div>
        <div class="result-input">
          <select name="result">
            <option value="1-0">1-0</option>
            <option value="1/2-1/2">1/2 - 1/2</option>
            <option value="0-1">0-1</option>
          </select>
        </div>
        <div class="black-player-input">
          <span><strong>Black player</strong></span>
          <input type="text" name="black_player_first_name" id="black_player_first_name" placeholder="First Name">
          <input type="text" name="black_player_last_name" id="black_player_last_name" placeholder="Last Name">
        </div>
      </div>

      <div class="moves-input" id="moves-create"></div>

    </div>

    <div class="create-button">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: "token" %>
      <%= hidden_field_tag :collection, @collection.id, id: "collection-id" %>
      <button data-remote="true" class= "btn btn-primary" id= "save-game-button"> Save Game</button>
    </div>

  </div>


</div>
