<div class="sidebar-games" id="sidebar-games">

  <div class="sidebar-header">
    <% if @collection == "All games" %>
      <p> <%= @collection %> </p>
    <% else %>
      <p><%= @collection.name %></p>
    <% end %>
    <%= link_to newgame_path(@collection), remote: true do  %>
      <i class="far fa-plus-square"></i>
    <% end %>
  </div>

  <div class="list-of-games">
    <% games.each do |game| %>
      <%= render "shared/sidebar_game_card", game: game %>
    <% end %>
  </div>
</div>



