<div class="col-sm-2" id="sidebar-collection">
  <nav class="sidebar-header">
      <h3>MY COLLECTIONS</h3>
  </nav>
</div>

<div class="col-sm-2" id="sidebar-games">
  <nav class="sidebar-header">
      <h3>MY GAMES</h3>
  </nav>
</div>
