<!-- <nav id="sidebar-collection">
 <div class="sidebar-header">
     <h3>Collection Sidebar</h3>
 </div>

 <ul class="list-unstyled components">
     <li class="active">
         <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
             <i class="fas fa-home"></i>
             Home
         </a>
     </li>
     <li>
         <a href="#">
             <i class="fas fa-briefcase"></i>
             About
         </a>
         <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
             <i class="fas fa-copy"></i>
             Pages
         </a>
     </li>
 </ul>

</nav>

<nav id="sidebar-games">
 <div class="sidebar-header">
     <h3>Collection Sidebar</h3>
 </div>

 <ul class="list-unstyled components">
     <li class="active">
         <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
             <i class="fas fa-home"></i>
             Home
         </a>
     </li>
     <li>
         <a href="#">
             <i class="fas fa-briefcase"></i>
             About
         </a>
         <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
             <i class="fas fa-copy"></i>
             Pages
         </a>
     </li>
 </ul>

</nav>
 -->

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3" id="sidebar-collection">
      <nav class="sidebar-header">
          <h3>MY COLLECTIONS</h3>
      </nav>
    </div>

    <div class="col-sm-3" id="sidebar-games">
      <nav class="sidebar-header">
          <h3>MY GAMES</h3>
      </nav>
    </div>

  </div>
</div>
