<div class="sidebar-games">

  <div class="sidebar-header">
    <% if @collection == "All games" %>
      <i class="far fa-trash-alt" style="color:#1E5772"></i>
      <p> <%= @collection %> </p>
    <% else %>
      <p><%= @collection.name %></p>
    <% end %>

  </div>

  <div class="list-of-games">
    <% games.each do |game| %>
      <%= render "shared/sidebar_game_card", game: game %>
    <% end %>
  </div>
</div>



