<%= content_for(:navbar_class, "navbar-home") %>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <%= render 'shared/sidebar' %>

      <!-- Page Content -->
      <div id="content">

        <div id="chessgame">
        </div>

      </div>

    </div>
  </div>
</div>


