<%= content_for(:navbar_class, "navbar-home") %>

<div class="wrapper">

    <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
    </div>

</div>

