document.getElementById("chessgame-board").innerHTML = "";
document.getElementById("chessgame-board").innerHTML =  "<div id='chessgame'></div> <%= j render 'shared/chess_box_controls' %>"
document.querySelector(".chess-moves").innerHTML = "";
document.querySelector(".find-button").innerHTML = "";
document.querySelector(".search-notation").innerHTML = "";


function populateChessBox(chessboxHTML) {
  const chessbox = document.getElementById("chessbox-search");
  chessbox.innerHTML = chessboxHTML;
};

populateChessBox('<%= j render "shared/chessbox_find_notation", game: @game %>')

window.initChessground();
