.touches {
  height: 12px;
  width: 12px;
  padding: 0;
  margin: 0;
}

.players {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.header-box-item-player{
  flex-basis: 40%;
  flex-shrink: 0;
  text-align: center;
}

.header-box-item-result{
  flex-basis: 20%;
  flex-shrink: 0;
  text-align: center;
}

.header-result{
  background: #2d5770;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.player {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 50%;
}

.current-move {
  background: #EE5F6F;
  font-weight: bold;
  color: white !important;
}

.control {
  margin: 1px;
}

.empty-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 95px;
  text-align: center;
  margin-left: 290px;
}

#white-pawn {
  color: white;
  font-size: 30px
}

#black-pawn {
  color: black;
  font-size: 30px;
}
.chess-moves {
  padding: 10px;
}

#chessgame {
  width:450px;
  height:450px;
  margin-left: 25px;
  border: 1px solid lightgrey;
}

#chessgame-input {
  width:450px;
  height:450px;
  margin-left: 25px;
  border: 1px solid lightgrey;
}

#chessgame-find {
  width:450px;
  height:450px;
  border: 1px solid lightgrey;
}

.chess-headers {
  background: #F7F7F7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  min-height: 70px;
}

.chess-controls{
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.create-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.chess-board {
  background-color: white;
}
.game-notation {
  width: 100%;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-right: 20px;
  height: 550px;
  overflow-y: scroll;
}
.game-notation-input {
  // width: 100%;
  min-width: 400px;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-right: 20px;
  height: 450px;
  overflow-y: scroll;
}

.game-notation-find {
  width: 300px;
  border: 1px solid lightgrey;
  height: 450px;
  overflow-y: scroll;
}
.chess-description {
  font-weight: lighter;
  font-size: 12px;
  padding: 10px;
}
.chess-box {
  display: flex;
  background-color : white;
  padding-top: 100px;
  // height: calc(100vh-70px);
}

.moves-input{
  background: white;
  min-height: 200px;
  padding: 10px;
}

.moves-bold {
  font-size: 14px;
  display: inline-block;
  margin-top: 12px;
  padding: 2px 5px;
}

.move-number{
  background-color: #f4f4f4;
  font-weight: bold;
  border-radius: 50%;
  color: #797979;
  width: 27px;
  margin-left: 2px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e2e2e2;
}

.moves {
  color: #1E5772;
}

.moves:hover {
  background-color: #FFB600;
  font-size: bold;
  cursor: pointer;
  color: white;
}

.wrapper-white {
  background: white;
}

// .search-notation {
//   border: 1px solid lightgrey;
// }

.search-headers {
  background: #F7F7F7;
  min-height: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
