.touches {
  height: 12px;
  width: 12px;
  padding: 0;
  margin: 0;
}

.players {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}

.header-box-item-player{
  flex-basis: 40%;
  flex-shrink: 0;
  text-align: center;
}

.header-box-item-result{
  flex-basis: 14%;
  flex-shrink: 0;
  text-align: center;
}

.header-result{
  // background: #2d5770;
  background: #6b6b6b;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  max-height: 25px;
}

.player {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 50%;
}

.current-move {
  background: #EE5F6F;
  font-weight: bold;
  color: white !important;
}

.control {
  margin: 1px;
}

.empty-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 95px;
  text-align: center;
  margin-left: 290px;
}

#white-pawn {
  color: white;
  font-size: 30px
}

#black-pawn {
  color: black;
  font-size: 30px;
}

.chess-moves {
  padding: 10px;
  overflow-y: scroll
}

.chess-moves-view {
  padding: 10px;
  max-height: 275px;
  overflow-y: scroll;
}

.chess-moves-find {
  padding: 10px;
  max-height: 275px;
  overflow-y: scroll;
}

#chessgame {
  width:375px;
  height:375px;
  margin-left: 25px;
  border: 1px solid lightgrey;
}

#chessgame-input {
  width:375px;
  height:375px;
  margin-left: 25px;
  border: 1px solid lightgrey;
}

#chessgame-find {
  width:375px;
  height:375px;
  border: 1px solid lightgrey;
}

.chess-headers {
  background: #F7F7F7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  min-height: 70px;
}

.chess-headers-new-game {
  background: #F7F7F7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#white_player_first_name {
  margin-top: 5px;
  margin-bottom: 2px;
}

#black_player_first_name {
  margin-top: 5px;
  margin-bottom: 2px;
}

.white-player-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 40%;
}

.black-player-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 40%;
}

.result-input {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}

.chess-controls{
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.create-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.coral {
  background-color: $coral;
  border-color: $coral;
}

.chess-board {
  background-color: white;
}
.game-notation {
  width: 100%;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-right: 20px;
  height: 375px;
  // overflow-y: scroll;
}
.game-notation-input {
  // width: 100%;
  min-width: 400px;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-right: 20px;
  height: 375px;
  overflow-y: scroll;
}

.game-notation-find {
  width: 300px;
  border: 1px solid lightgrey;
  height: 375px;
  overflow-y: scroll;
}
.chess-description {
  font-weight: lighter;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.chess-box {
  display: flex;
  background-color : white;
  padding-top: 100px;
  // height: calc(100vh-70px);
}

.moves-input{
  background: white;
  min-height: 200px;
  padding: 10px;
}

.moves-bold {
  font-size: 14px;
  display: inline-block;
  margin-top: 12px;
  padding: 2px 1px;
}

.move-number{
  border-radius: 50%;
  color: #868585;
  width: 17px;
  display: inline-block;
  text-align: center;
}


.moves {
  color: #1E5772;
}

.moves:hover {
  background-color: #FFB600;
  font-size: bold;
  cursor: pointer;
  color: white;
}

.wrapper-white {
  background: white;
}

// .search-notation {
//   border: 1px solid lightgrey;
// }

.search-headers {
  background: #F7F7F7;
  min-height: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .find-button {
//   display: flex;
//   justify-content: center;
//   margin-top: 40px;
// }

.reset-button {
  background-color: lightgrey;
  margin-right: 5px;
  opacity: 0.8;
  color: black;
  width: 115px;
  // font-weight: bold;
}

.reset-button:hover {
  background-color: lightgrey;
  margin-right: 5px;
  opacity: 1;
}

.chessboard-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pin-right-top {
  position: absolute;
  right: 40px;
  top: 20px;
}

.pin-right-left {
  position: absolute;
  left: 40px;
  top: 20px;

}

.search-title {
  font-size: 24px;
  font-weight: bold;
}

.search-description {
  font-size: 16px;
  margin-top: -14px;
}




