.touches {
  height: 12px;
  width: 12px;
  padding: 0;
  margin: 0;
}

.players {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.player {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 50%;
}

.current-move {
  background: lightgrey;
  font-weight: bold;
}

.control {
  margin: 1px;
}
// i {
//   color: LightGray;
//   opacity: 0.6;
// }
// i:hover {
//   color: LightGray;
//   opacity: 1;
// }

#white-pawn {
  color: white;
  font-size: 30px
}

#black-pawn {
  color: black;
  font-size: 30px;
}
.chess-moves {
  padding: 10px;
}

#chessgame {
  width:450px;
  height:450px;
  margin-left: 25px;
  border: 1px solid lightgrey;
}

.chess-headers {
  background: #F7F7F7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  min-height: 70px;
}

.chess-controls{
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.chess-board {
  background-color: white;
}
.game-notation {
  width: 100%;
  border: 1px solid lightgrey;
  margin-left: 25px;
  margin-right: 20px;
  max-height: 550px;
  overflow-y: scroll;

}
.chess-description {
  font-weight: lighter;
  font-size: 12px;
}
.chess-box {
  display: flex;
  background-color : white;
  padding-top: 100px;
}

.moves-bold {
  font-size: 14px;
  font-weight: bold;
}

.moves:hover {
  background-color: grey;
  font-size: bold;
  cursor: pointer;
}
