.collection-card {
  margin-bottom: 1px;
  padding: 15px 20px 0px 10px;
  font-size: 14px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
}
.collection-card:hover {
  font-weight: bold;
  font-style: italic;
  background-color: #1E5772;
  color: white;
}
.collection-card:active {
  font-weight: bold;
  background-color: #1E5772;
  color: white;
}

.collection-card > a {
  font-size: 14px;
  font-weight: lighter;
  color: black;
}

.collection-card:hover a {
  font-weight: bold;
  color: white;
  opacity: 0.8;
}
.collection-card:active a {
  font-weight: bold;
  background-color: #1E5772;
  color: white;
}

a:hover {
  text-decoration: none;
}

.collection-card-persist {
  font-weight: bold;
  background-color: #3183A8;
  color: white;
}
