// Games we find in the 2nd sidebar
.game-card {
  padding: 10px;
  min-height: 60px;
  color: black;
  position: relative;
  border-top: solid 1px LightGray;
  display: flex;
  align-items: center;
  // box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.2);
  // margin: 10px 0;
  // border-radius: 5px;
  text-decoration: none;
  &:hover {
  // transform: scale(1.05);
  background-color: #3183A8;
  // box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, 0.2);
  // opacity: 0.7;
  }
}
.game-card-persist {
  background-color: #3183A8;
  font-weight: bold;
}

.game-card-players {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px LightGray;
  text-align: center;
  // font-weight: bold;
  &:hover {
  // transform: scale(1.05);
  background-color: #3183A8;
  }
}

.game-card-players-player {
  flex-basis: 33%;
}

.game-card-players-result {
  flex-basis: 33%;
}

.list-of-games :last-child .game-card-players {
  border-bottom: solid 1px LightGray;
}

.game-card-description {
  font-size: 10px;
  color: black;
  font-weight: lighter;
}
.game-card-moves {
  font-size: 12px;
  font-weight: lighter;
}

.result-game-card {
  text-decoration: none;
  padding: 0.75em;

  position: relative;
  display: flex;
  /* flex-direction: column; */
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  justify-content: center;
  align-item: center;


  &:hover {
    background-color: #3183A8;
  }
}


.drag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.fa-grip-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.result-game-card-body {
  padding: none;
}

.result-game-card-players {
  font-size: 14px;
  color: black;
  // font-weight: bold;
}

.result-game-card-description {
  font-size: 10px;
  color: black;
  font-weight: bold;
  padding: none;
}

.result-game-card-persist {
  background-color: #3183A8;
  font-weight: bold;
}
