// Games we find in the 2nd sidebar
.game-card {
  padding: 10px;
  min-height: 60px;
  color: black;
  position: relative;
  border-top: solid 1px LightGray;
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
  background-color: #3183A8;
  }
}
.game-card-persist {
  background-color: #3183A8;
  font-weight: bold;
}

.game-card-players {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px LightGray;
  text-align: center;
  // font-weight: bold;
  &:hover {
  // transform: scale(1.05);
  background-color: #3183A8;
  }
}

.game-card-players-player {
  flex-basis: 33%;
}

.game-card-players-result {
  flex-basis: 33%;
}

.list-of-games :last-child .game-card-players {
  border-bottom: solid 1px LightGray;
}

.list-of-games :first-child .game-card-players {
  border-top: none;
}

.game-card-description {
  font-size: 10px;
  color: black;
  font-weight: lighter;
}
.game-card-moves {
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}

.result-game-card {
  text-decoration: none;
  padding: 0.75em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  // background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  // justify-content: space-between;
  align-item: center;


  &:hover {
    background-color: #3183A8;
  }
}


// .drag-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 10px;
// }

.fa-grip-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.result-game-card-body {
  padding: none;
}

.result-game-card-players {
  width: 100%;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font-weight: bold;
}

.result-game-card-description {
  font-size: 10px;
  color: black;
  font-weight: bold;
  padding: none;
}

.result-game-card-persist {
  background-color: #3183A8;
  font-weight: bold;
}

.results-header {
  background: #F7F7F7;
  min-height: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.search-header-result{
  background: #2d5770;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  max-height: 25px;
  padding: 5px;
}
